Package: fun.kwok.momosvip
Name: MomoSVIP
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kwok
Author: Kwok
Section: Tweaks
