Package: fun.kwok.momosvip
Name: MomoSVIP
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kwok
Author: Kwok
Section: Tweaks
Version: 0.0.1-14+debug
Installed-Size: 416
